# Python / Backend
backend/venv/
__pycache__/
*.pyc
backend/.env
backend/temp_processing/

# Flutter / Frontend
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.env
frontend/assets/env/app.env

# OS Files
.DS_Store
Thumbs.db